#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP             0x00000001L

1 VERSIONINFO
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "CompanyName", "Trinity Software, LLC\000"
			VALUE "FileDescription", "Mochi Game Engine\000"
			VALUE "FileVersion", "0.0.0-15\000"
			VALUE "InternalName", "mochi\000"
			VALUE "LegalCopyright", "Copyright \251 2017 Trinity Software, LLC\000"
			VALUE "OriginalFilename", "mochi.exe\000"
			VALUE "ProductName", "Project Mochi Engine\000"
			VALUE "ProductVersion", "0.0.0-12\000"
		}
	}
}
